In [1]:
!apt-get install openjdk-11-jdk -y
!pip install pyspark

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
The following additional packages will be installed:
  fonts-dejavu-core fonts-dejavu-extra libatk-wrapper-java libatk-wrapper-java-jni libfontenc1
  libxkbfile1 libxt-dev libxtst6 libxxf86dga1 openjdk-11-jre x11-utils
Suggested packages:
  libxt-doc openjdk-11-demo openjdk-11-source visualvm mesa-utils
The following NEW packages will be installed:
  fonts-dejavu-core fonts-dejavu-extra libatk-wrapper-java libatk-wrapper-java-jni libfontenc1
  libxkbfile1 libxt-dev libxtst6 libxxf86dga1 openjdk-11-jdk openjdk-11-jre x11-utils
0 upgraded, 12 newly installed, 0 to remove and 29 not upgraded.
Need to get 5,453 kB of archives.
After this operation, 15.5 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu jammy/main amd64 fonts-dejavu-core all 2.37-2build1 [1,041 kB]
Get:2 http://archive.ubuntu.com/ubuntu jammy/main amd64 fonts-dejavu-extra all 2.37-2build1 [2,041 kB]
Get:3 http://archive.ubuntu.com/ubuntu jammy/main amd64 libfontenc1 amd64 1:1.1.4-1build3 [14.7 kB]
Get:4 http://archive.ubuntu.com/ubuntu jammy/main amd64 libxkbfile1 amd64 1:1.1.0-1build3 [71.8 kB]
Get:5 http://archive.ubuntu.com/ubuntu jammy/main amd64 libxtst6 amd64 2:1.2.3-1build4 [13.4 kB]
Get:6 http://archive.ubuntu.com/ubuntu jammy/main amd64 libxxf86dga1 amd64 2:1.1.5-0ubuntu3 [12.6 kB]
Get:7 http://archive.ubuntu.com/ubuntu jammy/main amd64 x11-utils amd64 7.7+5build2 [206 kB]
Get:8 http://archive.ubuntu.com/ubuntu jammy/main amd64 libatk-wrapper-java all 0.38.0-5build1 [53.1 kB]
Get:9 http://archive.ubuntu.com/ubuntu jammy/main amd64 libatk-wrapper-java-jni amd64 0.38.0-5build1 [49.0 kB]
Get:10 http://archive.ubuntu.com/ubuntu jammy/main amd64 libxt-dev amd64 1:1.2.1-1 [396 kB]
Get:11 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 openjdk-11-jre amd64 11.0.26+4-1ubuntu1~22.04 [214 kB]
Get:12 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 openjdk-11-jdk amd64 11.0.26+4-1ubuntu1~22.04 [1,341 kB]
Fetched 5,453 kB in 2s (3,154 kB/s)
Selecting previously unselected package fonts-dejavu-core.
(Reading database ... 126209 files and directories currently installed.)
Preparing to unpack .../00-fonts-dejavu-core_2.37-2build1_all.deb ...
Unpacking fonts-dejavu-core (2.37-2build1) ...
Selecting previously unselected package fonts-dejavu-extra.
Preparing to unpack .../01-fonts-dejavu-extra_2.37-2build1_all.deb ...
Unpacking fonts-dejavu-extra (2.37-2build1) ...
Selecting previously unselected package libfontenc1:amd64.
Preparing to unpack .../02-libfontenc1_1%3a1.1.4-1build3_amd64.deb ...
Unpacking libfontenc1:amd64 (1:1.1.4-1build3) ...
Selecting previously unselected package libxkbfile1:amd64.
Preparing to unpack .../03-libxkbfile1_1%3a1.1.0-1build3_amd64.deb ...
Unpacking libxkbfile1:amd64 (1:1.1.0-1build3) ...
Selecting previously unselected package libxtst6:amd64.
Preparing to unpack .../04-libxtst6_2%3a1.2.3-1build4_amd64.deb ...
Unpacking libxtst6:amd64 (2:1.2.3-1build4) ...
Selecting previously unselected package libxxf86dga1:amd64.
Preparing to unpack .../05-libxxf86dga1_2%3a1.1.5-0ubuntu3_amd64.deb ...
Unpacking libxxf86dga1:amd64 (2:1.1.5-0ubuntu3) ...
Selecting previously unselected package x11-utils.
Preparing to unpack .../06-x11-utils_7.7+5build2_amd64.deb ...
Unpacking x11-utils (7.7+5build2) ...
Selecting previously unselected package libatk-wrapper-java.
Preparing to unpack .../07-libatk-wrapper-java_0.38.0-5build1_all.deb ...
Unpacking libatk-wrapper-java (0.38.0-5build1) ...
Selecting previously unselected package libatk-wrapper-java-jni:amd64.
Preparing to unpack .../08-libatk-wrapper-java-jni_0.38.0-5build1_amd64.deb ...
Unpacking libatk-wrapper-java-jni:amd64 (0.38.0-5build1) ...
Selecting previously unselected package libxt-dev:amd64.
Preparing to unpack .../09-libxt-dev_1%3a1.2.1-1_amd64.deb ...
Unpacking libxt-dev:amd64 (1:1.2.1-1) ...
Selecting previously unselected package openjdk-11-jre:amd64.
Preparing to unpack .../10-openjdk-11-jre_11.0.26+4-1ubuntu1~22.04_amd64.deb ...
Unpacking openjdk-11-jre:amd64 (11.0.26+4-1ubuntu1~22.04) ...
Selecting previously unselected package openjdk-11-jdk:amd64.
Preparing to unpack .../11-openjdk-11-jdk_11.0.26+4-1ubuntu1~22.04_amd64.deb ...
Unpacking openjdk-11-jdk:amd64 (11.0.26+4-1ubuntu1~22.04) ...
Setting up libxtst6:amd64 (2:1.2.3-1build4) ...
Setting up libxxf86dga1:amd64 (2:1.1.5-0ubuntu3) ...
Setting up openjdk-11-jre:amd64 (11.0.26+4-1ubuntu1~22.04) ...
Setting up libfontenc1:amd64 (1:1.1.4-1build3) ...
Setting up libxt-dev:amd64 (1:1.2.1-1) ...
Setting up fonts-dejavu-core (2.37-2build1) ...
Setting up fonts-dejavu-extra (2.37-2build1) ...
Setting up openjdk-11-jdk:amd64 (11.0.26+4-1ubuntu1~22.04) ...
update-alternatives: using /usr/lib/jvm/java-11-openjdk-amd64/bin/jconsole to provide /usr/bin/jconsole (jconsole) in auto mode
Setting up libxkbfile1:amd64 (1:1.1.0-1build3) ...
Setting up x11-utils (7.7+5build2) ...
Setting up libatk-wrapper-java (0.38.0-5build1) ...
Setting up libatk-wrapper-java-jni:amd64 (0.38.0-5build1) ...
Processing triggers for fontconfig (2.13.1-4.2ubuntu5) ...
Processing triggers for hicolor-icon-theme (0.17-2) ...
Processing triggers for libc-bin (2.35-0ubuntu3.8) ...
/sbin/ldconfig.real: /usr/local/lib/libhwloc.so.15 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtcm.so.1 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbmalloc_proxy.so.2 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind_2_0.so.3 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbmalloc.so.2 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbb.so.12 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libur_adapter_opencl.so.0 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind.so.3 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtcm_debug.so.1 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libur_adapter_level_zero.so.0 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libur_loader.so.0 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libumf.so.0 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind_2_5.so.3 is not a symbolic link

Processing triggers for man-db (2.10.2-1) ...
Processing triggers for mailcap (3.70+nmu1ubuntu1) ...
Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.5)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [3]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.11/dist-packages (1.7.4.2)
Requirement already satisfied: bleach in /usr/local/lib/python3.11/dist-packages (from kaggle) (6.2.0)
Requirement already satisfied: certifi>=14.05.14 in /usr/local/lib/python3.11/dist-packages (from kaggle) (2025.1.31)
Requirement already satisfied: charset-normalizer in /usr/local/lib/python3.11/dist-packages (from kaggle) (3.4.1)
Requirement already satisfied: idna in /usr/local/lib/python3.11/dist-packages (from kaggle) (3.10)
Requirement already satisfied: protobuf in /usr/local/lib/python3.11/dist-packages (from kaggle) (5.29.4)
Requirement already satisfied: python-dateutil>=2.5.3 in /usr/local/lib/python3.11/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.11/dist-packages (from kaggle) (8.0.4)
Requirement already satisfied: requests in /usr/local/lib/python3.11/dist-packages (from kaggle) (2.32.3)
Requirement already satisfied: setuptools>=21.0.0 in /usr/local/lib/python3.11/dist-packages (from kaggle) (75.1.0)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.11/dist-packages (from kaggle) (1.17.0)
Requirement already satisfied: text-unidecode in /usr/local/lib/python3.11/dist-packages (from kaggle) (1.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.11/dist-packages (from kaggle) (4.67.1)
Requirement already satisfied: urllib3>=1.15.1 in /usr/local/lib/python3.11/dist-packages (from kaggle) (2.3.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.11/dist-packages (from kaggle) (0.5.1)

In [4]:
!mkdir -p ~/.kaggle
!mv kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json  # Set permissions

In [5]:
#!/bin/bash
!kaggle datasets download elemento/nyc-yellow-taxi-trip-data

Dataset URL: https://www.kaggle.com/datasets/elemento/nyc-yellow-taxi-trip-data
License(s): U.S. Government Works

In [6]:
!unzip nyc-yellow-taxi-trip-data.zip -d /content/

Archive:  nyc-yellow-taxi-trip-data.zip
  inflating: /content/yellow_tripdata_2015-01.csv
  inflating: /content/yellow_tripdata_2016-01.csv
  inflating: /content/yellow_tripdata_2016-02.csv
  inflating: /content/yellow_tripdata_2016-03.csv

In [7]:
from pyspark.sql import SparkSession

# Create a Spark session
spark = SparkSession.builder.appName("NYC_Taxi_Analysis").getOrCreate()

In [8]:
df = spark.read.csv("/content/yellow_tripdata_2016-01.csv", header=True, inferSchema=True)

# Show first 5 rows
df.show(5)

+--------+--------------------+---------------------+---------------+-------------+------------------+------------------+----------+------------------+------------------+------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|  pickup_longitude|   pickup_latitude|RatecodeID|store_and_fwd_flag| dropoff_longitude|  dropoff_latitude|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|
+--------+--------------------+---------------------+---------------+-------------+------------------+------------------+----------+------------------+------------------+------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
|       2| 2016-01-01 00:00:00|  2016-01-01 00:00:00|              2|          1.1|-73.99037170410156| 40.73469543457031|         1|                 N|-73.98184204101562| 40.73240661621094|           2|        7.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         8.8|
|       2| 2016-01-01 00:00:00|  2016-01-01 00:00:00|              5|          4.9|-73.98078155517578| 40.72991180419922|         1|                 N|-73.94447326660156|40.716678619384766|           1|       18.0|  0.5|    0.5|       0.0|         0.0|                  0.3|        19.3|
|       2| 2016-01-01 00:00:00|  2016-01-01 00:00:00|              1|        10.54|-73.98455047607422|  40.6795654296875|         1|                 N|-73.95027160644531| 40.78892517089844|           1|       33.0|  0.5|    0.5|       0.0|         0.0|                  0.3|        34.3|
|       2| 2016-01-01 00:00:00|  2016-01-01 00:00:00|              1|         4.75|-73.99346923828125|40.718990325927734|         1|                 N|-73.96224212646484| 40.65733337402344|           2|       16.5|  0.0|    0.5|       0.0|         0.0|                  0.3|        17.3|
|       2| 2016-01-01 00:00:00|  2016-01-01 00:00:00|              3|         1.76|-73.96062469482422| 40.78133010864258|         1|                 N|-73.97726440429688|40.758514404296875|           2|        8.0|  0.0|    0.5|       0.0|         0.0|                  0.3|         8.8|
+--------+--------------------+---------------------+---------------+-------------+------------------+------------------+----------+------------------+------------------+------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
only showing top 5 rows

In [9]:
df.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- pickup_longitude: double (nullable = true)
 |-- pickup_latitude: double (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- dropoff_longitude: double (nullable = true)
 |-- dropoff_latitude: double (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)

In [26]:
row_count = df.count()
print(f"Total number of trips: {row_count}")

Total number of trips: 10906858

#  Average trip distance by pickup hour

In [18]:

df_with_hour = df.withColumn("pickup_hour", hour(col("tpep_pickup_datetime")))
avg_distance_by_hour = df_with_hour.groupBy("pickup_hour").avg("trip_distance").orderBy("pickup_hour")
avg_distance_by_hour.show(24)

+-----------+------------------+
|pickup_hour|avg(trip_distance)|
+-----------+------------------+
|          0| 3.328650267401285|
|          1| 3.247242986764335|
|          2|3.2484838146758577|
|          3|3.4685267545674927|
|          4| 4.109216089043877|
|          5| 4.603352816724641|
|          6| 3.526673113628757|
|          7|2.8310358234853608|
|          8| 2.529338012205217|
|          9| 2.522817470884903|
|         10|12.339673500979927|
|         11| 5.871557961930464|
|         12|2.5972457354015446|
|         13|2.7525329680351542|
|         14| 21.45645973595721|
|         15|2.8751887404654557|
|         16|2.8934940079476843|
|         17| 3.824401189309708|
|         18| 2.576705789539844|
|         19| 2.626591070816759|
|         20| 2.904406535365733|
|         21|3.0478349601585526|
|         22| 6.080801514570257|
|         23|3.3807939627779318|
+-----------+------------------+

#  Count trips by passenger count

In [19]:

trips_by_passenger = df.groupBy("passenger_count").count().orderBy("passenger_count")
trips_by_passenger.show()

+---------------+-------+
|passenger_count|  count|
+---------------+-------+
|              0|    520|
|              1|7726984|
|              2|1561977|
|              3| 436431|
|              4| 210641|
|              5| 601079|
|              6| 369155|
|              7|     22|
|              8|     26|
|              9|     23|
+---------------+-------+

#  Average fare amount by payment type

In [20]:

avg_fare_by_payment = df.groupBy("payment_type").avg("fare_amount").orderBy("payment_type")
avg_fare_by_payment.show()

+------------+------------------+
|payment_type|  avg(fare_amount)|
+------------+------------------+
|           1|13.000073149307978|
|           2|11.500276313672684|
|           3|11.392890994023855|
|           4|11.101148311087911|
|           5|              10.0|
+------------+------------------+

# Revenue Impact of Extra Charges

In [22]:
from pyspark.sql.functions import sum as spark_sum
revenue_breakdown = df.agg(
    spark_sum("fare_amount").alias("total_fare"),
    spark_sum("extra").alias("total_extra"),
    spark_sum("mta_tax").alias("total_mta_tax"),
    spark_sum("tolls_amount").alias("total_tolls"),
    spark_sum("improvement_surcharge").alias("total_surcharge"),
    spark_sum("total_amount").alias("grand_total")
)
revenue_breakdown.show()

+--------------------+-----------------+-------------+------------------+-----------------+--------------------+
|          total_fare|      total_extra|total_mta_tax|       total_tolls|  total_surcharge|         grand_total|
+--------------------+-----------------+-------------+------------------+-----------------+--------------------+
|1.3619316658999982E8|3414672.090000001|   5428021.03|3199475.1200007726|3269052.129950934|1.7059847689100492E8|
+--------------------+-----------------+-------------+------------------+-----------------+--------------------+

# Tip Amount vs. Fare Amount Correlation

In [25]:
# Average tip amount by fare amount ranges (binning fares)
from pyspark.sql.functions import when, col
df_with_bins = df.withColumn("fare_bin",
                             when(col("fare_amount") < 10, "0-10")
                             .when(col("fare_amount") < 20, "10-20")
                             .when(col("fare_amount") < 30, "20-30")
                             .otherwise("30+"))
tip_by_fare = df_with_bins.groupBy("fare_bin").avg("tip_amount").orderBy("fare_bin")
tip_by_fare.show()

+--------+------------------+
|fare_bin|   avg(tip_amount)|
+--------+------------------+
|    0-10|0.9652382087608522|
|   10-20|1.8102988509274376|
|   20-30|3.3707501651749965|
|     30+| 6.249755560833871|
+--------+------------------+

# Payment Type Analysis

In [27]:
from pyspark.sql.functions import hour, count

In [28]:
df.groupBy("payment_type").agg(count("*").alias("payment_count")) \
    .orderBy(col("payment_count").desc()).show()

+------------+-------------+
|payment_type|payment_count|
+------------+-------------+
|           1|      7181476|
|           2|      3673651|
|           3|        38319|
|           4|        13411|
|           5|            1|
+------------+-------------+

#  Peak Travel Hours

In [29]:
# Extract hour from pickup time
df = df.withColumn("pickup_hour", hour(col("tpep_pickup_datetime")))

# Count trips per hour
df.groupBy("pickup_hour").agg(count("*").alias("trip_count")) \
    .orderBy(col("pickup_hour")).show()

+-----------+----------+
|pickup_hour|trip_count|
+-----------+----------+
|          0|    396034|
|          1|    300325|
|          2|    229220|
|          3|    169130|
|          4|    125601|
|          5|    111548|
|          6|    236287|
|          7|    404567|
|          8|    491429|
|          9|    491927|
|         10|    480614|
|         11|    502554|
|         12|    535279|
|         13|    531803|
|         14|    562636|
|         15|    564002|
|         16|    511344|
|         17|    591940|
|         18|    692093|
|         19|    682974|
+-----------+----------+
only showing top 20 rows